################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LDAP-Auth/v15/Server/sqlite3
/obj
/LDAP-Auth.sln.DotSettings.user
/bin/Debug/netstandard2.0
/.vs/LDAP-Auth/v15
